/*:root {*/
/*    --bs-primary:   #e83e8c;   !* صورتی *!*/
/*    --bs-primary-hover:   #D4417C;   !* صورتی *!*/
/*    --bs-secondary-hover:   #5A6268;   !* صورتی *!*/
/*    --bs-secondary: #6c757d;   !* خاکستری *!*/
/*    --bs-success:   #28a745;   !* سبز *!*/
/*    --bs-success-hover:   #218838;   !* سبز *!*/
/*    --bs-danger:    #dc3545;   !* قرمز *!*/
/*    --bs-danger-hover:    #BD2130;   !* قرمز *!*/
/*    --bs-warning:   #ffc107;   !* زرد *!*/
/*    --bs-warning-hover : #E0A800;*/
/*    --bs-info:      #0DCAF0;   !* آبی فیروزه‌ای *!*/
/*    --bs-info-hover:     #0BA5C2;   !* آبی فیروزه‌ای *!*/
/*}*/
/*.btn {*/
/*    border-radius: 6px;*/
/*    padding: 0.5rem 1rem;*/
/*    font-weight: 500;*/
/*    transition: all 0.2s ease-in-out;*/
/*}*/
/*!*primary*!*/
/*.btn-primary {*/
/*    background-color: var(--bs-primary);*/
/*    border-color: var(--bs-primary);*/
/*    color: #fff;*/
/*}*/
/*.btn-primary:hover {*/
/*    background-color: var(--bs-primary-hover);*/
/*    border-color: var(--bs-primary);*/
/*}*/
/*.btn-primary:active {*/
/*    background-color: var(--bs-primary-hover) !important;*/
/*    border-color: var(--bs-primary) !important;*/
/*}*/

/*.btn-primary:disabled {*/
/*    background-color: #ffffff;*/
/*    border-color: #ffffff;*/
/*    color: #6c757d;*/
/*}*/

/*.btn-outline-primary {*/
/*    color: var(--bs-primary);*/
/*    border: 1px solid var(--bs-primary);*/
/*    background: transparent;*/
/*}*/
/*.btn-outline-primary:hover {*/
/*    background-color: #ffffff;*/
/*    color: var(--bs-primary-hover);*/
/*    border: 1px solid var(--bs-primary-hover);*/
/*}*/
/*.btn-outline-primary:disabled {*/
/*    color: #6c757d;*/
/*    border-color: #6c757d;*/
/*}*/
/*.btn-outline-primary:disabled {*/
/*    background-color: #ffffff;*/
/*    color: #6C757D;*/
/*    border: 1px solid #A8A5A5;*/
/*}*/
/*!*secondary*!*/
/*.btn-secondary {*/
/*    background-color: var(--bs-secondary);*/
/*    border-color: var(--bs-secondary);*/
/*    color: #fff;*/
/*}*/
/*.btn-secondary:hover {*/
/*    background-color: var(--bs-secondary-hover);*/
/*    border-color: var(--bs-secondary);*/
/*}*/
/*.btn-secondary:active {*/
/*    background-color: var(--bs-secondary-hover) !important;*/
/*    border-color: var(--bs-secondary-hover) !important;*/
/*}*/
/*.btn-secondary:disabled {*/
/*    background-color: #ffffff;*/
/*    border-color: #ffffff;*/
/*    color: #6c757d;*/
/*}*/
/*.btn-outline-secondary:hover {*/
/*    background-color: #ffffff;*/
/*    color: var(--bs-secondary-hover);*/
/*    border: 1px solid var(--bs-secondary-hover);*/
/*}*/
/*.btn-outline-secondary:disabled {*/
/*    background-color: #ffffff;*/
/*    color: #6C757D;*/
/*    border: 1px solid #A8A5A5;*/
/*}*/
/*!*danger*!*/
/*.btn-danger:active {*/
/*    background-color: var(--bs-danger-hover) !important;*/
/*    border-color: var(--bs-danger-hover) !important;*/
/*}*/
/*.btn-danger {*/
/*    background-color: var(--bs-danger);*/
/*    border-color: var(--bs-danger);*/
/*    color: #fff;*/
/*}*/
/*.btn-danger:hover {*/
/*    background-color: var(--bs-danger-hover);*/
/*    border-color: var(--bs-danger-hover);*/
/*}*/

/*.btn-danger:disabled {*/
/*    background-color: #ffffff;*/
/*    border-color: #ffffff;*/
/*    color: #6c757d;*/
/*}*/
/*.btn-outline-danger:hover {*/
/*    background-color: #ffffff;*/
/*    color: var(--bs-danger-hover);*/
/*    border: 1px solid var(--bs-danger-hover);*/
/*}*/
/*.btn-outline-danger:disabled {*/
/*    background-color: #ffffff;*/
/*    color: #6C757D;*/
/*    border: 1px solid #A8A5A5;*/
/*}*/
/*!*warning*!*/
/*.btn-warning {*/
/*    background-color: var(--bs-warning);*/
/*    border-color: var(--bs-warning);*/
/*    color: #fff;*/
/*}*/
/*.btn-warning:hover {*/
/*    background-color: var(--bs-warning-hover);*/
/*    border-color: var(--bs-warning-hover);*/
/*    color: #fff;*/

/*}*/
/*.btn-warning:active {*/
/*    background-color: var(--bs-warning-hover) !important;*/
/*    border-color: var(--bs-warning-hover) !important;*/
/*    color: #ffffff!important;*/

/*}*/
/*.btn-warning:disabled {*/
/*    background-color: #ffffff;*/
/*    border-color: #ffffff;*/
/*    color: #6c757d;*/
/*}*/
/*.btn-outline-warning:hover {*/
/*    background-color: #ffffff;*/
/*    color: var(--bs-warning-hover);*/
/*    border: 1px solid var(--bs-warning-hover);*/
/*}*/
/*.btn-outline-warning:disabled {*/
/*    background-color: #ffffff;*/
/*    color: #6C757D;*/
/*    border: 1px solid #A8A5A5;*/
/*}*/
/*!*success*!*/
/*.btn-success {*/
/*    background-color: var(--bs-success);*/
/*    border-color: var(--bs-success);*/
/*    color: #fff;*/
/*}*/
/*.btn-success:hover {*/
/*    background-color: var(--bs-success-hover);*/
/*    border-color: var(--bs-success-hover);*/
/*}*/
/*.btn-success:disabled {*/
/*    background-color: #ffffff;*/
/*    border-color: #ffffff;*/
/*    color: #6c757d;*/
/*}*/
/*.btn-success:active {*/
/*    background-color: var(--bs-success-hover) !important;*/
/*    border-color: var(--bs-success-hover) !important;*/
/*}*/
/*.btn-outline-success:hover {*/
/*    background-color: #ffffff;*/
/*    color: var(--bs-success-hover);*/
/*    border: 1px solid var(--bs-success-hover);*/
/*}*/
/*.btn-outline-success:disabled {*/
/*    background-color: #ffffff;*/
/*    color: #6C757D;*/
/*    border: 1px solid #A8A5A5;*/
/*}*/
/*!*info*!*/

/*.btn-info {*/
/*    background-color: var(--bs-info);*/
/*    border-color: var(--bs-info);*/
/*    color: #fff;*/
/*}*/
/*.btn-info:hover {*/
/*    background-color: var(--bs-info-hover);*/
/*    border-color: var(--bs-info-hover);*/
/*    color: #fff;*/

/*}*/

/*.btn-info:disabled {*/
/*    background-color: #ffffff;*/
/*    border-color: #ffffff;*/
/*    color: #6c757d;*/
/*}*/
/*.btn-info:active {*/
/*    background-color: var(--bs-info-hover) !important;*/
/*    border-color: var(--bs-info-hover) !important;*/
/*    color: #ffffff!important;*/

/*}*/

/*.btn-outline-info:hover {*/
/*    background-color: #ffffff;*/
/*    color: var(--bs-info-hover);*/
/*    border: 1px solid var(--bs-info-hover);*/
/*}*/
/*.btn-outline-info:disabled {*/
/*    background-color: #ffffff;*/
/*    color: #6C757D;*/
/*    border: 1px solid #A8A5A5;*/
/*}*/


.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #EA4C89;
    --bs-btn-border-color: #EA4C89;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #D4417C;
    --bs-btn-hover-border-color: #D4417C;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #C93E78;
    --bs-btn-active-border-color: #C93E78;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #6C757D;
    --bs-btn-disabled-bg: #fff;
    --bs-btn-disabled-border-color: #fff;
}

.btn-secondary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #6c757d;
    --bs-btn-border-color: #6c757d;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #5c636a;
    --bs-btn-hover-border-color: #565e64;
    --bs-btn-focus-shadow-rgb: 130, 138, 145;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #565e64;
    --bs-btn-active-border-color: #51585e;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #6C757D;
    --bs-btn-disabled-bg: #fff;
    --bs-btn-disabled-border-color: #fff;
}

.btn-success {
    --bs-btn-color: #fff;
    --bs-btn-bg: #28A745;
    --bs-btn-border-color: #28A745;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #218838;
    --bs-btn-hover-border-color: #218838;
    --bs-btn-focus-shadow-rgb: 60, 153, 110;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #177834;
    --bs-btn-active-border-color: #177834;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #6C757D;
    --bs-btn-disabled-bg: #fff;
    --bs-btn-disabled-border-color: #fff;
}

.btn-info {
    --bs-btn-color: #fff;
    --bs-btn-bg: #0DCAF0;
    --bs-btn-border-color: #0DCAF0;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #0BA5C2;
    --bs-btn-hover-border-color: #0BA5C2;
    --bs-btn-focus-shadow-rgb: 11, 172, 204;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #009ABE;
    --bs-btn-active-border-color: #009ABE;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #6C757D;
    --bs-btn-disabled-bg: #fff;
    --bs-btn-disabled-border-color: #fff;
}

.btn-warning {
    --bs-btn-color: #000;
    --bs-btn-bg: #FFC107;
    --bs-btn-border-color: #ffc107;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #E0A800;
    --bs-btn-hover-border-color: #E0A800;
    --bs-btn-focus-shadow-rgb: 217, 164, 6;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #D59D00;
    --bs-btn-active-border-color: #D59D00;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #6C757D;
    --bs-btn-disabled-bg: #fff;
    --bs-btn-disabled-border-color: #fff;
}
.btn-danger {
    --bs-btn-color: #fff;
    --bs-btn-bg: #DC3545;
    --bs-btn-border-color: #dc3545;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #BD2130;
    --bs-btn-hover-border-color: #b02a37;
    --bs-btn-focus-shadow-rgb: 225, 83, 97;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #BD2130;
    --bs-btn-active-border-color: #BD2130;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #6C757D;
    --bs-btn-disabled-bg: #fff;
    --bs-btn-disabled-border-color: #fff;
}
/*outline*/
.btn-outline-primary {
    --bs-btn-color: #EA4C89;
    --bs-btn-border-color: #EA4C89;
    --bs-btn-hover-color: #B03866;
    --bs-btn-hover-bg: #fff;
    --bs-btn-hover-border-color: #B03866;
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #B03866;
    --bs-btn-active-border-color: #B03866;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #6C757D;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #A8A5A5;
    --bs-gradient: none;
}


.btn-outline-secondary {
    --bs-btn-color: #6C757D;
    --bs-btn-border-color: #6C757D;
    --bs-btn-hover-color: #5A6268;
    --bs-btn-hover-bg: #fff;
    --bs-btn-hover-border-color: #5A6268;
    --bs-btn-focus-shadow-rgb: 108, 117, 125;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #5A6268;
    --bs-btn-active-border-color: #5A6268;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #6C757D;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #A8A5A5;
    --bs-gradient: none;
}

.btn-outline-success {
    --bs-btn-color: #28A745;
    --bs-btn-border-color: #28A745;
    --bs-btn-hover-color: #218838;
    --bs-btn-hover-bg: #fff;
    --bs-btn-hover-border-color: #218838;
    --bs-btn-focus-shadow-rgb: 25, 135, 84;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #218838;
    --bs-btn-active-border-color: #218838;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #6C757D;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #A8A5A5;
    --bs-gradient: none;
}

.btn-outline-info {
    --bs-btn-color: #0DCAF0;
    --bs-btn-border-color: #0DCAF0;
    --bs-btn-hover-color: #0BA5C2;
    --bs-btn-hover-bg: #fff;
    --bs-btn-hover-border-color:#0BA5C2;
    --bs-btn-focus-shadow-rgb: 13, 202, 240;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0BA5C2;
    --bs-btn-active-border-color: #0BA5C2;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #6C757D;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #A8A5A5;
    --bs-gradient: none;
}

.btn-outline-warning {
    --bs-btn-color: #FFC107;
    --bs-btn-border-color: #FFC107;
    --bs-btn-hover-color: #E0A800;
    --bs-btn-hover-bg: #fff;
    --bs-btn-hover-border-color: #E0A800;
    --bs-btn-focus-shadow-rgb: 255, 193, 7;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #E0A800;
    --bs-btn-active-border-color: #E0A800;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #6C757D;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #A8A5A5;
    --bs-gradient: none;
}

.btn-outline-danger {
    --bs-btn-color: #DC3545;
    --bs-btn-border-color: #DC3545;
    --bs-btn-hover-color: #BD2130;
    --bs-btn-hover-bg: #fff;
    --bs-btn-hover-border-color:#BD2130;
    --bs-btn-focus-shadow-rgb: 220, 53, 69;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #dc3545;
    --bs-btn-active-border-color: #dc3545;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #6C757D;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #A8A5A5;
    --bs-gradient: none;
}