@font-face {
    font-family: myFont;
    src: url("../font/iransans.ttf");
}

:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #e83e8c;
    --bs-secondary: #6c757d;
    --bs-success: #28a745;
    --bs-info: #17a2b8;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    /*--bs-primary-rgb: 13, 110, 253;*/
    --bs-primary-rgb: 232, 62, 140;
    --bs-secondary-rgb: 108, 117, 125;
    --bs-success-rgb: 25, 135, 84;
    --bs-info-rgb: 13, 202, 240;
    --bs-warning-rgb: 255, 193, 7;
    --bs-danger-rgb: 220, 53, 69;
    --bs-light-rgb: 248, 249, 250;
    --bs-dark-rgb: 33, 37, 41;
    --bs-primary-text-emphasis: #052c65;
    --bs-secondary-text-emphasis: #2b2f32;
    --bs-success-text-emphasis: #0a3622;
    --bs-info-text-emphasis: #055160;
    --bs-warning-text-emphasis: #664d03;
    --bs-danger-text-emphasis: #58151c;
    --bs-light-text-emphasis: #495057;
    --bs-dark-text-emphasis: #495057;
    --bs-primary-bg-subtle: #cfe2ff;
    --bs-secondary-bg-subtle: #e2e3e5;
    --bs-success-bg-subtle: #d1e7dd;
    --bs-info-bg-subtle: #cff4fc;
    --bs-warning-bg-subtle: #fff3cd;
    --bs-danger-bg-subtle: #f8d7da;
    --bs-light-bg-subtle: #fcfcfd;
    --bs-dark-bg-subtle: #ced4da;
    --bs-primary-border-subtle: #9ec5fe;
    --bs-secondary-border-subtle: #c4c8cb;
    --bs-success-border-subtle: #a3cfbb;
    --bs-info-border-subtle: #9eeaf9;
    --bs-warning-border-subtle: #ffe69c;
    --bs-danger-border-subtle: #f1aeb5;
    --bs-light-border-subtle: #e9ecef;
    --bs-dark-border-subtle: #adb5bd;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-font-sans-serif: myFont;
    --bs-body-font-family: myFont;

    /*--bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";*/
    --bs-font-monospace: myFont;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
    --bs-body-color-rgb: 33, 37, 41;
    --bs-body-bg: #fff;
    --bs-body-bg-rgb: 255, 255, 255;
    --bs-emphasis-color: #000;
    --bs-emphasis-color-rgb: 0, 0, 0;
    --bs-secondary-color: rgba(33, 37, 41, 0.75);
    --bs-secondary-color-rgb: 33, 37, 41;
    --bs-secondary-bg: #e9ecef;
    --bs-secondary-bg-rgb: 233, 236, 239;
    --bs-tertiary-color: rgba(33, 37, 41, 0.5);
    --bs-tertiary-color-rgb: 33, 37, 41;
    --bs-tertiary-bg: #f8f9fa;
    --bs-tertiary-bg-rgb: 248, 249, 250;
    --bs-heading-color: inherit;
    --bs-link-color: #0d6efd;
    --bs-link-color-rgb: 13, 110, 253;
    --bs-link-decoration: underline;
    --bs-link-hover-color: #0a58ca;
    --bs-link-hover-color-rgb: 10, 88, 202;
    --bs-code-color: #d63384;
    --bs-highlight-color: #212529;
    --bs-highlight-bg: #fff3cd;
    --bs-border-width: 1px;
    --bs-border-style: solid;
    --bs-border-color: #dee2e6;
    --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
    --bs-border-radius: 0.375rem;
    --bs-border-radius-sm: 0.25rem;
    --bs-border-radius-lg: 0.5rem;
    --bs-border-radius-xl: 1rem;
    --bs-border-radius-xxl: 2rem;
    --bs-border-radius-2xl: var(--bs-border-radius-xxl);
    --bs-border-radius-pill: 50rem;
    --bs-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    --bs-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    --bs-box-shadow-md: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.3);
    --bs-box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
    --bs-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
    --bs-focus-ring-width: 0.25rem;
    --bs-focus-ring-opacity: 0.25;
    --bs-focus-ring-color: rgba(13, 110, 253, 0.25);
    --bs-form-valid-color: #198754;
    --bs-form-valid-border-color: var(--bs-success);
    --bs-form-invalid-color: #dc3545;
    --bs-form-invalid-border-color: var(--bs-danger);
    --bs-input-border: #9B9B9B;
    --bs-gray-input: #D9D9D9;
    --bs-light-gray-input: #D2D2D2;
    --bs-table-line: #D3CECE;
    --bs-form-border: #D4D3D3;
    --bs-light-green: #B2FF00;
}

body, * {
    font-family: myFont, serif;
}

/*:root {*/
/*--bs-primary-hover: #D4417C;*/
/*--bs-secondary-hover: #5A6268;*/
/*--bs-success-hover: #218838;*/
/*--bs-danger-hover: #BD2130;*/
/*--bs-warning-hover: #E0A800;*/
/*--bs-info-hover: #0BA5C2;*/
/*}*/
.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #EA4C89;
    --bs-btn-border-color: #EA4C89;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #D4417C;
    --bs-btn-hover-border-color: #D4417C;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #C93E78;
    --bs-btn-active-border-color: #C93E78;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #6C757D;
    --bs-btn-disabled-bg: #fff;
    --bs-btn-disabled-border-color: #fff;
    --bs-btn-disabled-opacity: 1;
}

.btn-secondary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #6c757d;
    --bs-btn-border-color: #6c757d;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #5c636a;
    --bs-btn-hover-border-color: #565e64;
    --bs-btn-focus-shadow-rgb: 130, 138, 145;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #565e64;
    --bs-btn-active-border-color: #51585e;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #6C757D;
    --bs-btn-disabled-bg: #fff;
    --bs-btn-disabled-border-color: #fff;
    --bs-btn-disabled-opacity: 1;

}

.btn-success {
    --bs-btn-color: #fff;
    --bs-btn-bg: #28A745;
    --bs-btn-border-color: #28A745;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #218838;
    --bs-btn-hover-border-color: #218838;
    --bs-btn-focus-shadow-rgb: 60, 153, 110;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #177834;
    --bs-btn-active-border-color: #177834;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #6C757D;
    --bs-btn-disabled-bg: #fff;
    --bs-btn-disabled-border-color: #fff;
    --bs-btn-disabled-opacity: 1;

}

.btn-info {
    --bs-btn-color: #fff;
    --bs-btn-bg: #0DCAF0;
    --bs-btn-border-color: #0DCAF0;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #0BA5C2;
    --bs-btn-hover-border-color: #0BA5C2;
    --bs-btn-focus-shadow-rgb: 11, 172, 204;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #009ABE;
    --bs-btn-active-border-color: #009ABE;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #6C757D;
    --bs-btn-disabled-bg: #fff;
    --bs-btn-disabled-border-color: #fff;
    --bs-btn-disabled-opacity: 1;
}

.btn-warning {
    --bs-btn-color: #000;
    --bs-btn-bg: #FFC107;
    --bs-btn-border-color: #ffc107;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #E0A800;
    --bs-btn-hover-border-color: #E0A800;
    --bs-btn-focus-shadow-rgb: 217, 164, 6;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #D59D00;
    --bs-btn-active-border-color: #D59D00;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #6C757D;
    --bs-btn-disabled-bg: #fff;
    --bs-btn-disabled-border-color: #fff;
    --bs-btn-disabled-opacity: 1;
}

.btn-danger {
    --bs-btn-color: #fff;
    --bs-btn-bg: #DC3545;
    --bs-btn-border-color: #dc3545;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #BD2130;
    --bs-btn-hover-border-color: #b02a37;
    --bs-btn-focus-shadow-rgb: 225, 83, 97;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #B21E2C;
    --bs-btn-active-border-color: #B21E2C;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #6C757D;
    --bs-btn-disabled-bg: #fff;
    --bs-btn-disabled-border-color: #fff;
    --bs-btn-disabled-opacity: 1;
}

/*outline*/
.btn-outline-primary {
    --bs-btn-color: #EA4C89;
    --bs-btn-border-color: #EA4C89;
    --bs-btn-hover-color: #B03866;
    --bs-btn-hover-bg: transparent;
    --bs-btn-hover-border-color: #B03866;
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #EA4C89;
    --bs-btn-active-border-color: #EA4C89;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #6C757D;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #A8A5A5;
    --bs-gradient: none;
    --bs-btn-disabled-opacity: 1;

}


.btn-outline-secondary {
    --bs-btn-color: #6C757D;
    --bs-btn-border-color: #6C757D;
    --bs-btn-hover-color: #5A6268;
    --bs-btn-hover-bg: transparent;
    --bs-btn-hover-border-color: #5A6268;
    --bs-btn-focus-shadow-rgb: 108, 117, 125;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #6C757D;
    --bs-btn-active-border-color: #6C757D;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #6C757D;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #A8A5A5;
    --bs-gradient: none;
    --bs-btn-disabled-opacity: 1;

}

.btn-outline-success {
    --bs-btn-color: #28A745;
    --bs-btn-border-color: #28A745;
    --bs-btn-hover-color: #218838;
    --bs-btn-hover-bg: transparent;
    --bs-btn-hover-border-color: #218838;
    --bs-btn-focus-shadow-rgb: 25, 135, 84;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #28A745;
    --bs-btn-active-border-color: #28A745;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #6C757D;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #A8A5A5;
    --bs-gradient: none;
    --bs-btn-disabled-opacity: 1;

}

.btn-outline-info {
    --bs-btn-color: #0DCAF0;
    --bs-btn-border-color: #0DCAF0;
    --bs-btn-hover-color: #0BA5C2;
    --bs-btn-hover-bg: transparent;
    --bs-btn-hover-border-color: #0BA5C2;
    --bs-btn-focus-shadow-rgb: 13, 202, 240;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0DCAF0;
    --bs-btn-active-border-color: #0DCAF0;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #6C757D;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #A8A5A5;
    --bs-gradient: none;
    --bs-btn-disabled-opacity: 1;

}

.btn-outline-warning {
    --bs-btn-color: #FFC107;
    --bs-btn-border-color: #FFC107;
    --bs-btn-hover-color: #E0A800;
    --bs-btn-hover-bg: transparent;
    --bs-btn-hover-border-color: #E0A800;
    --bs-btn-focus-shadow-rgb: 255, 193, 7;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #FFC107;
    --bs-btn-active-border-color: #FFC107;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #6C757D;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #A8A5A5;
    --bs-gradient: none;
    --bs-btn-disabled-opacity: 1;

}

.btn-outline-danger {
    --bs-btn-color: #DC3545;
    --bs-btn-border-color: #DC3545;
    --bs-btn-hover-color: #BD2130;
    --bs-btn-hover-bg: transparent;
    --bs-btn-hover-border-color: #BD2130;
    --bs-btn-focus-shadow-rgb: 220, 53, 69;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #DC3545;
    --bs-btn-active-border-color: #DC3545;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #6C757D;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #A8A5A5;
    --bs-gradient: none;
    --bs-btn-disabled-opacity: 1;

}

.form-control {
    height: 50px;
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 0.90rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-input-border);
    border-radius: var(--bs-border-radius);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    text-align: start;
    direction: rtl;
}

.left-form-control {
    height: 50px;
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 0.90rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-input-border);
    border-radius: var(--bs-border-radius);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    text-align: start !important;
    direction: ltr !important;
    outline: 0;
}

.form-control:hover {
    border-color: var(--bs-primary) !important;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}

.form-control.is-invalid {
    background-position: right calc(.375em + .1875rem) center;

}

.form-control:focus {
    border-color: var(--bs-primary) !important;
    box-shadow: 0 0 0.25rem 0 var(--bs-primary) !important;
}

.form-control.is-valid:hover {
    border-color: var(--bs-success) !important;
    box-shadow: 0 0 0 0 var(--bs-success) !important;
}

.form-control.is-valid:focus {
    border-color: var(--bs-success) !important;
    box-shadow: 0 0 0.25rem 0 var(--bs-success) !important;
}

.form-control.is-invalid:hover {
    border-color: var(--bs-danger) !important;
    box-shadow: 0 0 0 0 var(--bs-danger);
    background-position: right calc(.375em + .1875rem) center;

}

.form-control.is-invalid:focus {
    border-color: var(--bs-danger) !important;
    box-shadow: 0 0 0.25rem 0 var(--bs-danger) !important;
    background-position: right calc(.375em + .1875rem) center;
}

.ltr-input {
    text-align: left !important;
    direction: ltr;
}

.input-group-text {
    display: flex;
    align-items: center;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    text-align: center;
    white-space: nowrap;
    background-color: #fff;
    border: #fff;
    border-radius: var(--bs-border-radius);
}

.input-with-icon {
    position: relative;
    width: 100%;
}


.icon-in-input {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    color: #6c757d;
    cursor: pointer;
    padding: 5px;
    border-radius: 3px;
    transition: color 0.3s ease;
}

.password-toggle {
    position: absolute;: 10 px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    color: #6c757d;
    cursor: pointer;
    padding: 5px;
    border-radius: 3px;
    transition: color 0.3s ease;
}

.icon-color {
    color: var(--bs-primary);
}

.centered-element {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 64px;
    height: 60px;
    background: white;
    border-radius: 20px;
}

.icon-on-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.profile-details {
    width: 232px;
    height: 60px;
    margin-right: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;

}


.select2-container {
    border-radius: 8px !important;

}


.select2-container .select2-dropdown {
    border: 1px solid var(--bs-gray-input) !important;
    border-radius: 8px !important;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.select2-container .select2-selection--multiple .select2-selection__choice {
    background: var(--bs-gray-input);

}


.select2-container.select2-container--focus .select2-selection,
.select2-container.select2-container--open .select2-selection {
    border-color: var(--bs-primary) !important;
    box-shadow: 0 0 0.25rem 0 var(--bs-primary) !important;

}


/*اصلیه*/
.select2-container .select2-selection {
    border-color: var(--bs-primary) !important;
    transition: all 0.3s ease !important;
    height: 50px;
    min-height: 50px !important;

}

.select2-container .select2-results__option[aria-selected="true"] {
    background-color: var(--bs-primary) !important;
    color: white !important;

}

.select2-container .select2-results__option[aria-selected="true"]:hover {
    background-color: #ff69b4 !important;
    color: white !important;

}


.select2-container .select2-search--inline .select2-search__field {
    box-sizing: border-box;
    border: none;
    font-size: 100%;
    margin-top: 5px;
    margin-left: 5px;
    padding: 0;
    max-width: 100%;
    resize: none;
    height: 20px;
    vertical-align: bottom;
    font-family: sans-serif;
    overflow: hidden;
    word-break: keep-all;
}

.form-check-input {
    /*width: 61px !important;*/
    background-color: var(--bs-gray-input);
    border: 0;
}

.form-check-input:checked {
    background-color: var(--bs-gray-input);
    border: 0;
}

.form-check-input:focus {
    box-shadow: 0 0 0 0 0 var(--bs-primary);
}

.form-check-input:checked[type=checkbox] {
    --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23e83e8c'/%3e%3c/svg%3e") !important;
}

.form-switch .form-check-input:focus {
    --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%236c757d'/%3e%3c/svg%3e");
}

.modal-footer {
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: calc(var(--bs-modal-padding) - var(--bs-modal-footer-gap) * 0.5);
    background-color: var(--bs-modal-footer-bg);
    border-top: 0 !important;
    border-bottom-right-radius: var(--bs-modal-inner-border-radius);
    border-bottom-left-radius: var(--bs-modal-inner-border-radius);
}

.btn-modal {
    width: 160px;
    height: 48px;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 520px;
    height: 246px;
    color: var(--bs-modal-color);
    pointer-events: auto;
    background-color: var(--bs-modal-bg);
    background-clip: padding-box;
    border: 0;
    border-radius: var(--bs-modal-border-radius);
    outline: 0;
}

.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: var(--bs-modal-padding);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.custom-modal-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 4rem;
}

/*.icon-in-input {*/
/*    position: absolute;*/
/*    left: 10px;*/
/*    top: 50%;*/
/*    transform: translateY(-50%);*/
/*    color: #6c757d;*/
/*    z-index: 2;*/
/*}*/
.search-bar {
    height: 50px;
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 0.90rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-light-gray-input);
    border-radius: var(--bs-border-radius);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    text-align: start;
    direction: rtl;
}

.search-bar:focus {
    outline: 0;
}

/*table*/
.table-primary {
    --bs-table-color: #fff;
    --bs-table-bg: var(--bs-primary);
    --bs-table-border-color: transparent;

    --bs-table-active-bg: #bacbe6;
    --bs-table-active-color: #000;
    --bs-table-hover-bg: #bfd1ec;
    --bs-table-hover-color: #000;
    color: var(--bs-table-color);
    border-color: var(--bs-table-border-color);
}

.table {
    --bs-table-color-type: initial;
    --bs-table-bg-type: initial;
    --bs-table-color-state: initial;
    --bs-table-bg-state: initial;
    --bs-table-color: var(--bs-emphasis-color);
    --bs-table-bg: var(--bs-body-bg);
    --bs-table-border-color: var(--bs-table-line);
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: var(--bs-emphasis-color);
    --bs-table-striped-bg: rgba(var(--bs-emphasis-color-rgb), 0.05);
    --bs-table-active-color: var(--bs-emphasis-color);
    --bs-table-active-bg: rgba(var(--bs-emphasis-color-rgb), 0.1);
    --bs-table-hover-color: var(--bs-emphasis-color);
    --bs-table-hover-bg: rgba(var(--bs-emphasis-color-rgb), 0.075);
    /*width: 994px;*/
    /*height: 540px;*/
    /*border-radius: 8px;*/
    /*margin-bottom: 1rem;*/
    /*vertical-align: top;*/
    /*border-color: var(--bs-table-border-color);*/
    /*overflow: hidden;*/
}

.table-rounded {
    border-radius: 1rem;
    overflow: hidden;
}

thead, tbody, tfoot, tr, td, th {
    border-style: solid;
    border-color: var(--bs-gray-input);
    border-width: 0;
    text-align: center;
}

.table-bordered > :not(caption) > * {
    border-width: var(--bs-border-width) 0;
}

.form-check-input {
    --bs-form-check-bg: var(--bs-success);
    flex-shrink: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.25em;
    vertical-align: top;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--bs-light);
    background-image: var(--bs-form-switch-bg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: var(--bs-border-width) solid var(--bs-dark);
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    print-color-adjust: exact;
}

.form-check-input[type=checkbox] {
    border-radius: 0;
    background-color: #fff;
    border: solid 1px #000;
}

.form-check-input:checked[type=checkbox] {
    --bs-form-check-bg-image: none;
    background-color: var(--bs-primary);
    border: solid 1px #000;
}

.form-switch .form-check-input {
    --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%236c757d'/%3e%3c/svg%3e");
    width: 2em;
    margin-left: -2.5em;
    background-image: var(--bs-form-switch-bg);
    background-position: left center;
    border-radius: 2em;
    transition: background-position 0.15s ease-in-out;
    border: 0 !important;
    background-color: var(--bs-gray-input);
}

.form-switch .form-check-input:focus {
    background-color: var(--bs-gray-input);
}

.form-switch .form-check-input:checked {
    background-position: right center;
    --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
    background-color: var(--bs-gray-input);
}

.form-switch.form-check-reverse {
    padding-right: 2.5em;
    padding-left: 0;
    background-color: var(--bs-gray-input);
}

.table-wrapper {
    border-radius: 15px;
    padding: 0;
    border: 1px solid var(--bs-gray-input);
    overflow: hidden;
}

.custom-table {
    margin: 0;
    border: none !important;
    border-collapse: collapse;
}

.custom-table th {
    padding: 12px;
    text-align: center;
    border: none !important;
}

.custom-table td {
    padding: 12px;
    text-align: center;
    border: 1px solid var(--bs-gray-input);
    border-bottom: none !important;
}

.custom-table td:first-child {
    border-right: none !important;
}

.custom-table td:last-child {
    border-left: none !important;
}


.custom-table tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.02);
}

/*card*/
.card-footer {
    padding: var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x);
    color: var(--bs-card-cap-color);
    background-color: var(--bs-primary);
    border-top: 0;
}

.card-header {
    padding: var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x);
    margin-bottom: 0;
    color: var(--bs-card-cap-color);
    background-color: var(--bs-card-cap-bg);
    border-bottom: 0;

}

.card-body {
    flex: 1 1 auto;
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    color: var(--bs-secondary);
    text-align: center;
    border-radius: 10px;
}

.card {
  border: 0;
}

.card-footer {
    background-color: var(--bs-primary);
}

.custom-card-footer {
    background-color: var(--bs-primary);
    height: 10px;
    border-bottom-left-radius: var(--bs-card-border-radius);
    border-bottom-right-radius: var(--bs-card-border-radius);
}

.custom-shadow {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.text-secondary {
    color: var(--bs-secondary);
}

li {
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
    color: var(--bs-secondary);
}

li::marker {
    color: var(--bs-primary);
    font-size: 30px;
}

.rounded {
    border-radius: 8px;
}


.icon-custom {
    color: var(--bs-primary);
    font-size: 19px;
}

.shadow-md {
    box-shadow: var(--bs-box-shadow-md) !important;
}

.overlay-element {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 8px;
    z-index: 1000;
    border: 1px solid var(--bs-form-border);
    width: 636px;
    max-width: 90%;
    height: 496px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-custom {
    height: 100vh;
    position: relative;
}

.col-full {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.col-full h2 {
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.col-full p {
    font-size: 1.1rem;
    line-height: 1.6;
    max-width: 80%;
    text-align: center;
}

.image-container {
    height: 100%;
    width: 100%;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ltr-input {
    direction: ltr;
    text-align: left;
}

.logo-overlay {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1001;
    text-align: center;
}

.logo-overlay .logo-img {
    max-width: 180px;
    height: auto;
}

.activities-icon {
    width: 40px;
    height: 40px;
    background-color: var(--bs-gray-input);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.category-bg-light-green {
    color: #000 !important;
    background-color: var(--bs-light-green) !important;
}

.badge {
    border-radius: 8px;
}
